* {
    margin: 0;
}

 .num1 {
    background-color: red;
    border: 2px solid aqua;
    height: 500%;
    width: 20%;
    margin: 50px 50px 50px 50px;
}

.num2 {
    background-color: aqua;
    border: 2px solid red;
    height: 100%;
    width: 20%;
    margin: 50px 80px;
}